<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New SensorData</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/allsensordata">All Sensor Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addsensordata">Add Sensor Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/alldevices">All Devices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addDevice">Add Device</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
    <h2>New SensorData Form</h2>
</div>
<div class="container">
    <form action="#" th:action="@{/savesensordata}" th:object="${sensorData}" method="post">
        <div class="form-group">
            <label for="deviceId">DeviceId:</label>
            <input type="number" min="1" th:field="*{deviceId}" class="form-control" id="deviceId">
            <span th:if="${#fields.hasErrors('deviceId')}" th:errors="*{deviceId}"></span>
        </div>
        <div class="form-group">
            <label for="sensor">Sensor name:</label>
            <input type="text" th:field="*{sensor}" class="form-control" id="sensor">
            <span th:if="${#fields.hasErrors('sensor')}" th:errors="*{sensor}"></span>
        </div>
        <div class="form-group">
            <label for="dataType">Data Type:</label>
            <input type="text" th:field="*{dataType}" class="form-control" id="dataType">
            <span th:if="${#fields.hasErrors('dataType')}" th:errors="*{dataType}"></span>
        </div>
        <div class="form-group">
            <label for="data">Data:</label>
            <input type="text" th:field="*{data}" class="form-control" id="data">
            <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>